<ion-view view-title="Logs">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="(name, log) in logs"
                      type="item-text-wrap" href="#/tab/logs/{{log.id}}">
                <div class="row">
                    <h2 class="col col-50">{{ name.replace('measurements-', '') | date:'MMMM d h:mm'}}</h2>
                    <h2 class="col">{{log.length }} data points</h2>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(log)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
