<ion-view view-title="Account">
  <ion-content>
    <div>
      <div class="row" ng-repeat="a in [1, 2, 3, 4]">
        <i class="ion-document docs" ng-repeat="a in [1, 2, 3, 4, 5, 6, 7, 8]">

        </i>

      </div>
      <div class="row">
        <i class="ion-document docs yellow" ng-repeat="a in [1, 2, 3, 4, 5, 6, 7, 8]">

        </i>

      </div>
    </div>

    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
    <!--</ion-toggle>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
